# OBJECT ORIENTED PROGRAMMING SYSTEM

In [1]:
a = 1

In [2]:
print(type(a))

<class 'int'>

In [3]:
print(type("pwskills"))

<class 'str'>

In [5]:
class test:
    pass

In [6]:
a = test()

In [7]:
type(a)

__main__.test

In [8]:
print(type(a))

<class '__main__.test'>

In [9]:
class pwskills :

    def welcome_msg(self):
        print("welcome to pwskills")

In [10]:
asif = pwskills()

In [11]:
asif.welcome_msg()

welcome to pwskills

In [12]:
pandu = pwskills()

In [13]:
pandu.welcome_msg()

welcome to pwskills

In [14]:
class apnaroom :

    def roomrent(self):
        print("room rent is 1500")

In [15]:
asif1 = apnaroom()

In [16]:
asif1.roomrent()

room rent is 1500

In [17]:
pandu1 = apnaroom()

In [18]:
pandu1.roomrent()

room rent is 1500

In [19]:
class school :

    def schoolfees(self):
        print("school fees is 500")

In [20]:
asif2 = school()

In [21]:
asif2.schoolfees()

school fees is 500

In [22]:
class company :

    def salary(self):
        print("salary is 17000")

In [23]:
asif3 = company()

In [24]:
asif3.salary()

salary is 17000

In [25]:
pandu3 = company()

In [26]:
pandu3.salary()

salary is 17000

In [27]:
class pwskills1 :

    def __init__(self , phone_no , email_id , student_id):
        self.phone_no = phone_no
        self.email_id = email_id
        self.student_id = student_id

    def return_student_details(self):
        return self.phone_no , self.email_id , self.student_id

In [28]:
asif4 = pwskills1(999999999,'asif@gmail',100)

In [29]:
asif4.return_student_details()

(999999999, 'asif@gmail', 100)

In [30]:
pandu4 = pwskills1(888888888,'pandu@gmail.com',110)

In [31]:
pandu4.return_student_details()

(888888888, 'pandu@gmail.com', 110)

In [41]:
class pwskills1 :

    def __init__(self , phone_no , email_id , student_id):
        self.phone_no = phone_no
        self.email_id = email_id
        self.student_id = student_id

    def return_student_details(self):
        return self.phone_no, self.email_id, self.student_id

In [42]:
asif = pwskills1(99999999,'asif@gmail.com',100)

In [43]:
asif.return_student_details()

(99999999, 'asif@gmail.com', 100)

In [44]:
asif.phone_no

99999999

In [47]:
pandu4.email_id

'pandu@gmail.com'

In [48]:
class pwskills :

    def __init__(self , phone_no , email_id , student_id):
        self.phone_no = phone_no
        self.email_id = email_id
        self.student_id = student_id

    def return_student_details(self):
        return self.phone_no , self.email_id , self.student_id

In [52]:
asif = pwskills(9999999990, 'asif@gmail.com' , 102)

In [53]:
asif.return_student_details()

(9999999990, 'asif@gmail.com', 102)

In [54]:
class student :
    def __init__(self , name , age ):
        self.name = name
        self.age = age

    def student_details(self):
        return self.name , self.age

In [55]:
roll1 = student('asif',24)

In [56]:
roll1.student_details()

('asif', 24)

In [57]:
roll2 = student('pandu',34)

In [58]:
roll2.student_details()

('pandu', 34)

In [59]:
class car :
    def __init__(self , brand , model):
        self.brand = brand
        self.model = model

    def show_details(self):
        return self.model , self.brand

In [61]:
car1 = car('taarzan', 101)

In [62]:
car1.show_details()

(101, 'taarzan')

In [67]:
class employee : 

    def __init__(self , name , salary):
        self.name = name
        self.salary = salary

    def show_details(self):
        print(f"employee name : {self.name}")
        print(f"employee salary : {self.salary}")


    def update_salary(self , new_salary):
        self.salary = new_salary
        print(f"salary update successfully for {self.name}")

In [68]:
emp1 = employee("rahul",35000)
emp2 = employee("anjali",36000)

In [69]:
emp1.show_details()
emp2.show_details()

employee name : rahul
employee salary : 35000
employee name : anjali
employee salary : 36000

In [70]:
emp1.update_salary(40000)
emp2.update_salary(42000)

salary update successfully for rahul
salary update successfully for anjali

In [72]:
print("after update salary")

emp1.show_details()
emp2.show_details()

after update salary
employee name : rahul
employee salary : 40000
employee name : anjali
employee salary : 42000

In [1]:
class pwskills :
    def welcome_msg(self):
        print("welcome to pw")

In [2]:
asif = pwskills()

In [3]:
asif.welcome_msg()

welcome to pw

In [5]:
class pwskills :
    def __init__(self, student_no, email_id, student_id):
        self.student_no = student_no
        self.email_id = email_id
        self.student_id = student_id

    def return_student_details(self):
        return self.student_no, self.email_id, self.student_id

In [7]:
asif = pwskills(99999999,"asif@gmail.com",120)

In [9]:
asif.return_student_details()

(99999999, 'asif@gmail.com', 120)

In [14]:
asif.student_id

120

In [44]:
class students :

    def __init__(self, name , age):
        self.name = name
        self.age = age

    def student_info(self):
        return f"student name : {self.name}\nstudent age : {self.age}"

In [45]:
s1 = students("asif",34)

In [47]:
print(s1.student_info())

student name : asif
student age : 34

In [68]:
class car :
    def __init__(self, brand , model , price):
        self.brand = brand
        self.model = price
        self.price = price

    def details_car(self):
        return f"brand name : {self.brand}\nmodel name : {self.model}\nprice : {self.price}"

In [69]:
car1 = car('toyota','innova',2200000)

In [70]:
print(car1.details_car())

brand name : toyota
model name : 2200000
price : 2200000

In [71]:
car1.brand

'toyota'

In [72]:
class employee :
    def __init__(self, name , salary):
        self.name = name
        self.salary = salary

    def employee_details(self):
        return f"employee name : {self.name}\nemployee salary : {self.salary}"

In [73]:
emp1 = employee("asif",18000)
emp2 = employee("pandu",15000)

In [78]:
print(emp1.employee_details())

employee name : asif
employee salary : 18000

In [3]:
class student :

    def __init__(self, name , age):
        self.name = name
        self.age = age

    def student_info(self):
        return f"student name : {self.name}\nstudent age : {self.age}"

In [4]:
s1 = student("asif", 24)
s2 = student("pandu",23)

In [5]:
print(s1.student_info())

student name : asif
student age : 24

In [6]:
print(s2.student_info())

student name : pandu
student age : 23

In [8]:
class student :
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def student_info(self):
        return self.name, self.age

In [10]:
s1 = student("asif", 23)
s2 = student("pandu", 34)

In [11]:
s1.name

'asif'

In [12]:
s2.name

'pandu'

In [13]:
s2.age

34

In [15]:
s2.student_info()

('pandu', 34)

In [28]:
class car :
    def __init__(self,brand,model,mileage):
        self.brand = brand
        self.model = model
        self.mileage = mileage

    def fuel_used(self,distance):
        fuel = distance/self.mileage
        print(f"{self.brand} {self.model} used {fuel:.2f} litre for {distance}km.")

In [29]:
car1 = car("toyota","fortuner",12)
car2 = car("honda","city",15)

In [30]:
car1.fuel_used(240)

toyota fortuner used 20.00 litre for 240km.

In [31]:
car2.fuel_used(300)

honda city used 20.00 litre for 300km.

In [33]:
class car :
    def __init__(self,brand,model,mileage):
        self.brand = brand
        self.model = model
        self.mileage = mileage

    def fuel_used(self,distance):
        fuel = distance/self.mileage
        print(f"{self.brand} {self.model} used {fuel:.2f} litre for {distance}km.")

In [34]:
car1 = car("toyota","fortuner",12)
car2 = car("honda","city",15)

In [35]:
car1.fuel_used(240)

toyota fortuner used 20.00 litre for 240km.

In [36]:
car2.fuel_used(360)

honda city used 24.00 litre for 360km.

In [ ]:
class employee